<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <LinkTo class="navbar-brand" @route="home">Training</LinkTo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <LinkTo class="nav-link" @route="codes">Codes</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo class="nav-link" @route="organizations">Organizations</LinkTo>
        </li>
      </ul>
      {{#if this.session.isAuthenticated}}
      Logged as {{auth}}&nbsp;
      <button class="btn btn-outline-danger" {{on "click" this.invalidateSession}}>Logout</button>
      {{else}}
      <Login />
      {{/if}}
    </div>
  </div>
</nav>

{{yield}}