version: '3.4'

services:
  identifier:
    image: semtech/mu-identifier:1.8.1
    links:
      - dispatcher:dispatcher
    ports:
      - "8087:80"
    environment:
      DEFAULT_ACCESS_CONTROL_ALLOW_ORIGIN_HEADER: "*"
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: "[{\"variables\":[],\"name\":\"public\"}]"

  dispatcher:
    image: semtech/mu-dispatcher:1.1.2
    links:
      - resource:resource
    volumes:
      - ./config/dispatcher:/config
  db:
    image: semtech/mu-authorization:0.6.0-beta.6
    environment:
      MU_SPARQL_ENDPOINT: "http://triplestore:8890/sparql"
    volumes:
      - ./config/authorization:/config
  triplestore:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.2
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    ports:
      - "8890:8890"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
  deltanotifier:
    image: semtech/mu-delta-notifier
    volumes:
      - ./config/delta:/config
  file:
    image: semtech/mu-file-service:3.1.2
    links:
      - db:database
    volumes:
      - ./data/files:/share
  login:
    image: semtech/mu-login-service:2.9.0
    links:
      - db:database
  migrations:
    restart: always
    image: semtech/mu-migrations-service
    links:
      - triplestore:database
    volumes:
      - ./config/migrations:/data/migrations
  registration:
    image: semtech/mu-registration-service:2.6.0
    links:
      - db:database
  resource:
    image: semtech/mu-cl-resources:1.20.0
    links:
      - db:database
    volumes:
      - ./config/resources:/config
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
  search:
    image: semtech/mu-search:0.8.0-beta.1
    links:
      - db:database
    volumes:
      - ./config/search:/config
  elasticsearch:
    image: semtech/mu-search-elastic-backend:1.0.0
    volumes:
      - ./data/elasticsearch/:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node